<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AUTO_START_DESDOCUMENT.Properties.Settings.WolfApproveCore_ISOConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=WolfApproveCore.ISO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AUTO_START_DESDOCUMENT.Properties.Settings.WolfApproveCore_QAR2ConnectionString"
            connectionString="Data Source=DESKTOP-11POHA7\SQLEXPRESS;Initial Catalog=WolfApproveCore.QAR2;Persist Security Info=True;User ID=sa;Password=pass@word1;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="connectionString" value="data source=localhost;initial catalog=WolfApproveCore.ISO;persist security info=True;user id=sa;password=pass@word1;"/>
		<add key="Ducumentcode" value="QS-F-IT-005"/>
		<add key="EffectiveDate" value="วันที่บังคับใช้"/>
		<add key="Storageperiod" value="ระยะเวลาการจัดเก็บ"/>
		<add key="EmailCreater" value="wolf@nissin-mfg.co.th"/>
		<add key="LogFile" value=""/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>